@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Caveat+Brush&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ojuju:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
    color: #0A0025
    
}

:root {
    background: url('./Assets/22036.jpg') no-repeat fixed center;
    background-size: cover;
}

.main-container {
    /* border: 3px solid royalblue; */
    background-color: rgba(10, 10, 10, 0.59);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    /* border: 1px solid coral; */
    border-radius: 1rem;
    width: 40vw;
    height: 40vh;
    padding: 1.5rem;
    background-color: rgba(154, 154, 154, 0.332);
    backdrop-filter: blur(7px);
}

.form {
    /* border: 1px solid red; */
    color: white;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form label {
    /* border: 1px solid red; */
    color: white;
    font-weight: 700;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}

.form input {
    border: none;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-style: oblique;
    background-color: rgba(255, 255, 255, 0.5);
}

.form input:focus {
    outline: none;
}

#label2, #label3, #label4 {
    padding-top: 0.25rem;
}

.input-container {
    /* border: 1px solid rgb(0, 204, 255); */
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

.contact-container, .dob-container {
    /* border: 1px solid rgb(0, 255, 64); */
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-dob {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#contact::placeholder {
    color: #0A0025;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    border: none;
    border-radius: 0.5rem;
    background-color: #0A0025;
    padding: 0.5rem;
    width: 50%;
    text-transform: uppercase;
    font-size: 1rem;
    font-style: oblique;
    font-weight: 700;
    color: white;
}

button:hover {
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 15px 2px rgba(255, 255, 255, 0.15);
    color: #0A0025;
}

#reset-btn {
    border: 1px solid white;
    background-color: transparent;
}

#reset-btn:hover {
    background-color: white;
    color: #0A0025;
}